img {
  width: 48px;
  height: 48px;
}

/* Text Chart */
.text-chart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-chart-item {
  background: white;
  border: none;
  border-radius: 12px;
  padding: 1.25rem 1.5rem;
  box-shadow: 0 15px 35px #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-chart-text {
  color: #4b5563;
  font-size: 1rem;
  font-weight: 500;
}

.text-chart-number {
  color: #111827;
  font-size: 1.5rem;
  font-weight: 700;
}

.text-chart-icon-wrapper {
  height: 52px;
  width: 52px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-chart-icon {
  width: 28px;
  height: 28px;
}

/* Chart */
.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.chart-item {
  background: white;
  border: none;
  border-radius: 12px;
  padding: 1.25rem 1.5rem;
  box-shadow: 0 15px 35px #f3f4f6;
  overflow-x: auto;
}

.chart-item h3 {
  font-size: 1.25rem;
  color: #111827;
  margin-bottom: 1rem;
}

/* Top Courses */
.top-courses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-courses-item {
  background: #f9fafb;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.top-courses-index {
  width: 32px;
  height: 32px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 90px;
  color: white;
}

.index-1 {
  background: #2563eb;
}

.index-2 {
  background: #16a34a;
}

.index-3 {
  background: #ca8a04;
}

.index-4 {
  background: red;
}

.top-courses-main {
  margin-right: auto;
  flex: 1;
}

.top-courses-name {
  color: #111827;
  font-size: 1.1rem;
  font-weight: 600;
}

.top-courses-students {
  color: #4b5563;
  font-size: 0.9rem;
  font-weight: 500;
}

.top-courses-revenue {
  color: #38a169;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .text-chart {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart {
    grid-template-columns: 1fr;
  }

  .chart-item {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .text-chart {
    grid-template-columns: 1fr;
  }

  .chart {
    grid-template-columns: 1fr;
  }

  .chart-item {
    padding: 0.75rem;
  }

  .chart-item h3 {
    font-size: 1rem;
  }

  .top-courses-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-courses-revenue {
    align-self: flex-end;
  }
}
